@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body{
  background-color: #17181F;
  color: #ddd;
}

main{
  max-width: 350px;
  margin: 30px auto;
}
h1{
  text-align: center;
  margin: 0;
  color: #fff;
}
form{
  margin-top: 20px;
}
form input{
  width: 100%;
  background-color: transparent;
  color: #ddd;
  border: 2px solid #30313d;
  padding: 2px, 5px;
  border-radius: 5px;
}
form input[type="datetime-local"]{
  color: #777;
}
form div.basic{
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 10px;
}

form button{
  width: 100%;
  margin-top: 5px;
  border-radius: 5px;
  padding: 10px;
  background-color: #ddd;
}
div.transactions{
  margin-top: 20px;
}
div.transaction{
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
}

div.transaction div.name{
  font-size: 1rem;
}

div.transaction div.description{
  font-size: 0.7rem;
  color: #888;
}